@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
 <div class="col-xl-4 col-md-6 col-12">

  <button class="btn btn-primary waves-effect waves-float waves-light" type="submit">Save</button>

  <button class="btn btn-success waves-effect waves-float waves-light" type="submit">Search</button>

  <button class="btn btn-danger waves-effect waves-float waves-light" type="submit">Delete</button>

  <button class="btn btn-warning waves-effect waves-float waves-light" type="submit">Clear</button>

 </div>
</div>
