
@{
    ViewData["Title"] = "BranchMaster";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section PageWiseStyleSheet {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendors/css/forms/wizard/bs-stepper.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/vendors/css/forms/select/select2.min.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/plugins/forms/form-wizard.min.css")">
}
@section PageWiseFooterScripts {
    <script src="@Url.Content("~/js/scripts/forms/form-wizard.min.js")"></script>
}

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Branch Master</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Master</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Branch Master</a>
                                </li>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-body">

            <!-- Vertical Wizard -->
            <section class="vertical-wizard">
                <div class="bs-stepper vertical vertical-wizard-example">
                    <div class="bs-stepper-header">
                        <div class="step" data-target="#basic-details-vertical" role="tab" id="basic-details-vertical-trigger">
                            <button type="button" class="step-trigger">
                                <span class="bs-stepper-box">1</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Basic Details</span>
                                    <span class="bs-stepper-subtitle">Setup Basic Details</span>
                                </span>
                            </button>
                        </div>
                        <div class="step" data-target="#working-hours-vertical" role="tab" id="working-hours-vertical-trigger">
                            <button type="button" class="step-trigger">
                                <span class="bs-stepper-box">2</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Working Hours</span>
                                    <span class="bs-stepper-subtitle">Add Working Hours</span>
                                </span>
                            </button>
                        </div>
                        <div class="step" data-target="#documents-vertical" role="tab" id="documents-vertical-trigger">
                            <button type="button" class="step-trigger">
                                <span class="bs-stepper-box">3</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Documents</span>
                                    <span class="bs-stepper-subtitle">Add Documents</span>
                                </span>
                            </button>
                        </div>
                        <div class="step" data-target="#photo-location-vertical" role="tab" id="photo-location-vertical-trigger">
                            <button type="button" class="step-trigger">
                                <span class="bs-stepper-box">4</span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Photo & Location</span>
                                    <span class="bs-stepper-subtitle">Add Photo & Location</span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <div id="basic-details-vertical"
                             class="content"
                             role="tabpanel"
                             aria-labelledby="basic-details-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Basic Details</h5>
                                <small class="text-muted">Enter Your Basic Details.</small>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Name of Branch</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Short Name</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Address Line 1</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Address Line 2</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Pin Code</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">City</label>
                                        <div class="input-box">
                                            <select class="form-select" id="basicSelect">
                                                <option>City Name</option>
                                                <option>Blade Runner</option>
                                                <option>Thor Ragnarok</option>
                                            </select>
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">State</label>
                                        <div class="input-box">
                                            <select class="form-select" id="basicSelect">
                                                <option>State Name</option>
                                                <option>Blade Runner</option>
                                                <option>Thor Ragnarok</option>
                                            </select>
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Country</label>
                                        <div class="input-box">
                                            <select class="form-select" id="basicSelect">
                                                <option>City Name</option>
                                                <option>Blade Runner</option>
                                                <option>Thor Ragnarok</option>
                                            </select>
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">GSTIN Number</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Contact No.</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Mobile No.</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Contact Person</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Branch Color</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                                    <div class="mb-1">
                                        <label class="form-label">Invoice & Potient Id Prefix</label>
                                        <div class="input-box">
                                            <input type="text" class="form-control" placeholder="" />
                                            <div class="input-msg"></div>
                                        </div>
                                    </div>
                                </div>



                               
                            </div>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-outline-secondary btn-prev" disabled>
                                    <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                                    <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                                </button>
                            </div>
                        </div>
                        <div id="working-hours-vertical" class="content" role="tabpanel" aria-labelledby="working-hours-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Working Hours</h5>
                                <small>Enter Your Working Hours.</small>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Day</th>
                                                    <th>Action</th>
                                                    <th>Start Time</th>
                                                    <th>Day Break</th>
                                                    <th>End Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="fw-bold">Monday</span>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch form-check-primary">
                                                            <input type="checkbox" class="form-check-input" id="customSwitch9" checked />
                                                            <label class="form-check-label" for="customSwitch9">
                                                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fw-bold">Tuesday</span>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch form-check-primary">
                                                            <input type="checkbox" class="form-check-input" id="customSwitch10" checked />
                                                            <label class="form-check-label" for="customSwitch10">
                                                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fw-bold">Wednesday</span>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch form-check-primary">
                                                            <input type="checkbox" class="form-check-input" id="customSwitch11" checked />
                                                            <label class="form-check-label" for="customSwitch11">
                                                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fw-bold">Thursday</span>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch form-check-primary">
                                                            <input type="checkbox" class="form-check-input" id="customSwitch12" checked />
                                                            <label class="form-check-label" for="customSwitch12">
                                                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fw-bold">Friday</span>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch form-check-primary">
                                                            <input type="checkbox" class="form-check-input" id="customSwitch13" checked />
                                                            <label class="form-check-label" for="customSwitch13">
                                                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fw-bold">Saturday</span>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch form-check-primary">
                                                            <input type="checkbox" class="form-check-input" id="customSwitch14" checked />
                                                            <label class="form-check-label" for="customSwitch14">
                                                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="fw-bold">Sunday</span>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-switch form-check-primary">
                                                            <input type="checkbox" class="form-check-input" id="customSwitch15" checked />
                                                            <label class="form-check-label" for="customSwitch15">
                                                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-box">
                                                            <input type="text" class="form-control" placeholder="" />
                                                            <div class="input-msg"></div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-last-name">Last Name</label>
                                    <input type="text" id="vertical-last-name" class="form-control" placeholder="Doe" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-country">Country</label>
                                    <select class="select2 w-100" id="vertical-country">
                                        <option label=" "></option>
                                        <option>UK</option>
                                        <option>USA</option>
                                        <option>Spain</option>
                                        <option>France</option>
                                        <option>Italy</option>
                                        <option>Australia</option>
                                    </select>
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-language">Language</label>
                                    <select class="select2 w-100" id="vertical-language" multiple>
                                        <option>English</option>
                                        <option>French</option>
                                        <option>Spanish</option>
                                    </select>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-primary btn-prev">
                                    <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                                    <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                                </button>
                            </div>
                        </div>
                        <div id="documents-vertical" class="content" role="tabpanel" aria-labelledby="documents-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Address</h5>
                                <small>Enter Your Address.</small>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-address">Address</label>
                                    <input type="text"
                                           id="vertical-address"
                                           class="form-control"
                                           placeholder="98  Borough bridge Road, Birmingham" />
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-landmark">Landmark</label>
                                    <input type="text" id="vertical-landmark" class="form-control" placeholder="Borough bridge" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="pincode2">Pincode</label>
                                    <input type="text" id="pincode2" class="form-control" placeholder="658921" />
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="city2">City</label>
                                    <input type="text" id="city2" class="form-control" placeholder="Birmingham" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-primary btn-prev">
                                    <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                </button>
                                <button class="btn btn-primary btn-next">
                                    <span class="align-middle d-sm-inline-block d-none">Next</span>
                                    <i data-feather="arrow-right" class="align-middle ms-sm-25 ms-0"></i>
                                </button>
                            </div>
                        </div>
                        <div id="photo-location-vertical" class="content" role="tabpanel" aria-labelledby="photo-location-vertical-trigger">
                            <div class="content-header">
                                <h5 class="mb-0">Social Links</h5>
                                <small>Enter Your Social Links.</small>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-twitter">Twitter</label>
                                    <input type="text" id="vertical-twitter" class="form-control" placeholder="https://twitter.com/abc" />
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-facebook">Facebook</label>
                                    <input type="text" id="vertical-facebook" class="form-control" placeholder="https://facebook.com/abc" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-google">Google+</label>
                                    <input type="text" id="vertical-google" class="form-control" placeholder="https://plus.google.com/abc" />
                                </div>
                                <div class="mb-1 col-md-6">
                                    <label class="form-label" for="vertical-linkedin">Linkedin</label>
                                    <input type="text" id="vertical-linkedin" class="form-control" placeholder="https://linkedin.com/abc" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-primary btn-prev">
                                    <i data-feather="arrow-left" class="align-middle me-sm-25 me-0"></i>
                                    <span class="align-middle d-sm-inline-block d-none">Previous</span>
                                </button>
                                <button class="btn btn-success btn-submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /Vertical Wizard -->

        </div>
    </div>
</div>
<!-- END: Content-->
